.load-more {
    margin: 0 auto;
    margin-top: 50px;
    display: block;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: var(--font-loadmore-btn);
    border: none;
    background-color: var(--button-color);
    color: var(--font-btncolor);
}

.load-more:hover {
    background-color: var(--accent-color);
}

.load-more:disabled {
    background-color: var(--disabled-btncolor);
    cursor: not-allowed;
}

.hidden {
    display: none;
}
