@import '~node_modules/modern-normalize/modern-normalize.css';
body {
    background-color: var(--main-color);
}

.container-form {
  width: 1440px;
  height: 50px;
  background-color: var(--search-bacgr);
}