.gallery {
    padding: 15px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-card {
    background-color: var(--card-color);
    border-radius: 4px;
    width: calc((100% - 45px)/4);
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px 5px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// .gallery__link {
//     width: calc((100% - 45px)/4);
// }