.search-form {
    display: flex;
    justify-content: center;
    padding: 4px 0;
    background-color: var(--search-bacgr);
    position: relative;
}

input {
    width: 300px;
    height: 42px;
    border-radius: 5px;
    border: 3px solid #4d1cb4;
    padding: 5px 10px;
    font-size: var(--font-input);
    outline: none;
}

// input[type="submit"] {
//     border: none;
//     // background-color: rgba(45, 45, 233, 0.731);
//     // color: white;
//     cursor: pointer;
// }

form > button {
    border-radius: 0 5px 5px 0;
    font-size: var(--font-search-btn);
    position: absolute;
    top: 4px;
    right: 485px;
    width: 42px;
    height: 42px;
    border: none;
    background: #4d1cb4;
}

// form > button::before {
//     content: "\e8b6";
//     font-family: 'Material+Symbols+Outlined';
//     font-size: 16px;
//     color: #f9f0da;
// }
.material-symbols-outlined {
    color: bisque;
    font-size: 28px;
    padding-top: 2px;
}