:root {
    --accent-color: #2196F3;
    --button-color: rgba(45, 45, 233, 0.731);
    --disabled-btncolor: #c1c1c1;;
    --card-color: #e6ecb4;
    --search-bacgr: hwb(207 14% 14%);
    --font-btncolor: #FFFFFF;
    --main-color: #dad5d5;
    --font-loadmore-btn: 30px;
    --font-input: 24px;
    --font-search-btn: 18px;
    --typical-lh: 1.19;
}