:root {
    --accent-color: #2cb3e4;
    --accent-fonts-color: darkolivegreen;
    --button-color: blue;
    --card-color: #e6ecb4;
    --disabled-btncolor: #c1c1c1;;
    --font-btncolor: #FFFFFF;
    --font-input: 24px;
    --font-loadmore-btn: 30px;
    --font-search-btn: 18px;
    --main-color: #dad5d5;
    --search-bacgr: hwb(207 14% 14%);
}

// $colors: (
//     'accent': #2cb3e4,
//     'accent-fonts': darkolivegreen,
//     'button': blue,
//     'card': #e6ecb4,
//     'disabled-btn': #c1c1c1,
//     'font-btn': #FFFFFF,
//     'main': #dad5d5,
//     'search-bacgr': hwb(207 14% 14%),

// )
//     @function getColor($key) {
//         @return map-get($colors, $key );
//     }
//     // $font-input: 24px;
//     // $font-loadmore-btn: 30px;
//     // $button-color: blue;
//     // $font-search-btn: 18px;
    
